version: '3.8'

services:
  # Payment Service
  payment-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: eygar-payment-service
    ports:
      - "8002:8002"
    env_file:
      - .env
    network_mode: "host"
    volumes:
      - ./app:/app/app
    restart: unless-stopped
    command: uvicorn app.main:app --host 0.0.0.0 --port 8002 --reload
